<html>
<head>
  <title>Vuejs TODO app</title>
  <script src="vue.min.js"></script>
</head>
<body>
<div id="app">
  <ol>
    <li v-for="todo in todos" :key="todo.id">
      <span v-if="todo.completed">
        <del>{{todo.text}}</del>
      </span>
      <span v-else>
        {{todo.text}}
      </span>
      <span><input type="checkbox" v-model="todo.completed" v-on:change="checkboxChanged(todo)"/></span>
    </li>
  </ol>
  <input v-model='tempTodo' /><button v-on:click="postTodo">Add todo</button>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      tempTodo: '',
      todos: [
      ]
    },
    methods: {
      checkboxChanged: function(todo){
        console.log("The changed obj's id was %s and the new completed property is %s. Index is %s",todo.id,todo.completed, todo.index);
        fetch('https://www.jsonstore.io/a753a792b362130eaaf89375d8d3cc80d66364fc359d8e0f8cc5f224688c3ef7/todo/0/completed', {
          method: 'PUT',
          headers: { "Content-Type" : "application/json" },
          body: todo.completed.toString()
        }).then((res) => console.log('The server responded with '+res.status));
      },
      postTodo: function(){
        let ID = '_' + Math.random().toString(36).substr(2, 9);
        let todoObj = {text: this.tempTodo, completed:false, id:ID, index: this.todos.length} //index==length because array starts at 0 and length-1 is the current one
        fetch('https://www.jsonstore.io/a753a792b362130eaaf89375d8d3cc80d66364fc359d8e0f8cc5f224688c3ef7/todo/'+todoObj.index,
        {
          headers: { 'Content-Type': 'application/json'},
          method: 'POST',
          body: JSON.stringify(todoObj)
        })
        .then((res) => {
          console.log(res.status);
          this.todos.push(todoObj);
          this.tempTodo = '';
        })
      }
    },
    created: function(){
      fetch('https://www.jsonstore.io/a753a792b362130eaaf89375d8d3cc80d66364fc359d8e0f8cc5f224688c3ef7/todo')
      .then((res) => res.json())
        .then((data) => {
          let fetchedTodos = data.result;
          if(typeof fetchedTodos == 'string'){
            this.todos.push({text: fetchedTodos, completed: false});
            this.serverCount = 1;
          } else{
          fetchedTodos.forEach((item) => {
            this.todos.push(item)
          })
        }
          })
        }
  });
</script>
</body>
</html>
